@import "../../styles/variables";

#single-beer {
  padding: 40px 0;

  .back-btn {
    padding-bottom: 20px;

    svg {
      color: $black;
    }
  }
  
  .beer-image-box {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;

    @media all and (max-height: 767px) {
      height: 200px;
    }
  }

  .unit {
    font: normal 500 12px/19px Nunito Sans, sans-serif;
    color: #CBB27C;
    margin-right: 10px;
  }

  .alcohol {
    font: normal 500 12px/19px Nunito Sans, sans-serif;
    color: #CBB27C;
  }

  .name {
    font: normal 600 16px/19px Nunito Sans, sans-serif;
    color: #000000;
    text-transform: uppercase;
  }

  .description {
    font: normal 500 14px/19px Nunito Sans, sans-serif;
    color: #000000;
  }

  .price {
    font: normal 500 16px/19px Nunito Sans, sans-serif;
    color: #CBB27C;
  }

  .button-box {
    display: flex;
    align-items: center;
    gap: 10px;

    .input-box {
      max-width: 25px;
      width: 100%;
    }
  }

  .similar-beers-box {
    margin-top: 50px;

    .title {
      color: $main-color;
      font: normal 600 24px/36px Nunito Sans, sans-serif;
    }
  }
}