@import "../../styles/variables";


#home {
  min-height: 1000px;

  #beer-list {
    padding: 40px 0;

    .no-data-text {
      color: $black;
      font: normal 500 16px/24px Nunito Sans, sans-serif;
      text-align: center;
      margin: 0 auto;
    }
  }
}