#cart {
  .image {
    max-width: 100px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    object-fit: contain;
  }

  .beer-name {
    font: normal 600 14px/19px Nunito Sans, sans-serif;
    text-transform: uppercase;
    color: #000000;
  }

  .beer-taste {
    font: normal 600 12px/19px Nunito Sans, sans-serif;
    color: #CBB27C;
  }

  .delete-icon {
    color: #CBB27C;
  }

  .inc-dec-box {
    display: flex;
    justify-content: center;
    align-items: center;

    .decrement-btn, .increment-btn {
      svg {
        color: #CBB27C;
      }
    }
  }
}